/*
 * Thème Name: Thème Multipattes Site
 * Version : 1.0.0
 */
 h1{
   font-size:85px;
 }
 h2{
   font-size:48px;
   font-weight: 600;
 }
 text{
  line-height: 150%;
 }
 p{
   font-size:16px;
 }
 .custom-button {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 10px 15px;
   background-color: #f4c542;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: bold;
   color: #fff;
   transition: background-color 0.3s ease;
}

.custom-button svg {
   width: 18px;
   height: 18px;
   fill: #fff;
   margin-right: 8px;
}

.custom-button .button-text {
   display: inline-block;
}
.button {
  display: inline-block;
  background-color: #FFED00;
  padding:22px;
  padding-left: 75px;
  border-radius: 14px;
  text-decoration: none;
  color:black;
  font-size:16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  box-shadow: 3px 3px 0 0 #000;
  background-image: url('./img/Patounne.svg');
  background-repeat:no-repeat;
  background-position: 20px center;
}
.button:hover {
  box-shadow: 6px 6px 0 0 #000;
}