body.page-template-truffinoscope {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #fff;
    margin: 0;
    padding: 0;

    
    h1 {
        font-size: 85px;
        text-align: center;
        color: #000000;
        margin: 120px auto;
        max-width: 1000px;
        padding: 0;
        font-weight: 700;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFBE7;
        padding: 100px 20px;
    }

    .about .coucou {
        font-weight: bold;
        font-size: 34px;
        margin-bottom: 90px;
        text-align: center;
    }

    .about p {
        text-align: center;
        margin-bottom: 133px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
        gap: 100px 20px; /* 100px entre les lignes, 20px entre les colonnes */
        width: 100%;
    }

    .gallery-item {
        text-align: center;
    }

    .gallery-item img {
        width: 100%; /* Remplir la largeur */
        height: 100%;
        max-height: 236px;
        max-width: 304px; /* Largeur maximale d'une image */
    }

    .gallery-item h2 {
        font-size: 24px;
        margin-top: 15px; /* Espacement entre l'image et le nom */
        margin-bottom: 0;
    }

    @media only screen and (max-width: 500px) {
        h1 {
            font-size: 36px;
        }
    
        .gallery {
            display: grid;
            grid-template-columns: 1fr; /* Une seule colonne */
            gap: 20px; /* Espacement entre les éléments */
            width: 100%;
            max-width: 1200px; /* Largeur maximale */
        }
    }
    
    @media only screen and (max-width: 300px) {
        .gallery {
            display: grid;
            grid-template-columns: 1fr; /* Toujours une seule colonne */
            gap: 20px; /* Espacement entre les éléments */
            width: 100%;
            max-width: 1200px; /* Largeur maximale */
        }
    }
}    