body.page-template-who_i_am {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.6;
   color: #000000;
   background-color: #ffffff;

h1 {
   font-size: 85px;
   text-align: center;
   color: #000000;
   margin: 120px auto;
   padding: 0;
   font-weight: 700;
}

.about {
   padding: 40px 20px;
   background: #FFFBE7; /* Fond clair */
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   margin-top: 40px; /* Marge au-dessus de la section */
}

strong {
   font-weight: 700;
}

.intro-text {
   font-size: 22px;
   line-height: 1.8;
   color: #000000;
   text-align: center;
   margin-bottom: 75px;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 50px;
}

.img-txt {
   display: flex;
   justify-content: space-evenly; /* Aligne le texte et l'image */
   gap: 20px;
   color: #000000;
   align-items: center; /* Aligne l'image et le texte verticalement */
   flex-wrap: wrap; /* En cas de petit écran, les éléments passent en colonne */
}

.img-txt p {
   font-size: 18px;
   line-height: 1.8;
   color: #000000;
   max-width: 50%; /* Limite la largeur du texte */
   text-align: justify;
}

.img-txt img {
   max-width: 50%; /* Limite la largeur de l'image */
   height: auto;
   border-radius: 8px;
   margin-top: 20px; /* Décale l'image un peu vers le bas */
}

.title {
   color: #000000;
   display: flex;
   align-items: left;
   margin-left: 180px;
   font-size: 22px;
   line-height: 1.8;
   color: #333;
   margin-top: 100px;
   text-align: center;
}

.additional {
   color: #000000;
   display: flex;
   justify-content: space-evenly;
   gap: 20px;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 10px;
   margin-bottom: 100px;
}

.additional iframe {
   max-width: 100%;
   border-radius: 8px;
   margin-top: 20px;
}

.additional p {
   color: #000000;
   font-size: 18px;
   line-height: 1.8;
   text-align: justify;
   margin-top: 20px;
   max-width: 50%;
}

@media (max-width: 768px) {
   .img-txt {
      flex-direction: column; /* Passe en colonne sur petits écrans */
   }

   .img-txt p, .img-txt img {
      color: #000000;
      max-width: 100%; /* Prend toute la largeur disponible */
   }

   .additional iframe {
      max-width: 100%; /* L'iframe occupe toute la largeur */
   }
}
}